<h4>Agregar Sucursal:</h4>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nombre interno</mat-label>
    <input matInput placeholder="Enter your email" name="usename"
    [(ngModel)] ="username">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre para mostrar</mat-label>
        <input matInput placeholder="Enter your email" name="usename"
        [(ngModel)] ="username">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput placeholder="Enter your email" name="usename"
        [(ngModel)] ="username">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Enter your email" name="usename"
        [(ngModel)] ="username">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Location</mat-label>
        <input matInput placeholder="Enter your email" name="usename"
        [(ngModel)] ="username">
    </mat-form-field>

    <!--
    <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input matInput placeholder="Enter your password" value="" name="password" type="password" [(ngModel)]= "password">
    </mat-form-field>
    -->

    <button mat-raised-button color="primary" style="padding:10px;background-color: #007bff;" (click)="submit()">Crear Sucursal</button>
    <!--<span *ngIf="show"> <button mat-button color="accent">Login success !!</button></span> -->
</form>

