<header>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>&nbsp; Turnos Colombia</span>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<content id="app-container">
  <!-- <mat-slide-toggle></mat-slide-toggle> *ngIf="loginvisibility" -->
  <div class="row">
    <app-login></app-login>
  </div>

  <div  gdAreas="header header header | sidebar content sidebar2 | footer footer footer"
      
      gdGap="1em"
      
      gdAreas.xs="header | sidebar | content | sidebar2 | footer" 
      gdColumns.xs="none"      
      gdGap.xs="10px" 

      gdAreas.sm="header header | sidebar content | sidebar2 sidebar2 | footer footer"
      gdColumns.sm="120px auto 120px" 

      [ngStyle]="{'max-width': 'auto'}"      
      [ngStyle.xs]="{'max-width': '800px'}">

   <!-- <div class="blocks one"    gdArea="header">Header</div> -->
   <div class="blocks two"    gdArea="sidebar">
      <br /> Empresa: Inversiones Facel
      <br /> NIT: 900211145-2
      <br /> 
      <br /> 20 noviembre, 2023
      <br /> usuarios atendidos el dia de hoy: 45
      <br /> usuarios pendientes poe atender el dia de hoy: 221
   </div>
   <div class="blocks three"  gdArea="sidebar2">
    <app-branches-crud></app-branches-crud>
    <!--
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <hr>
      <div class="form-group">
        <input nbInput fullWidth [(ngModel)]="name" name="nombre" placeholder="No. Unidad">
        <br>
      </div>
      <div class="form-group">
        <input nbInput fullWidth [(ngModel)]="internal_name" name="nombre" placeholder="Nombre Unidad">
        <br>
      </div>
      <button type="submit" nbButton status="primary" (click)="create2()">Crear sucursal</button>
    </div>
    -->
   </div>

   <div class="blocks four"   gdArea="content">
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <!--
      <app-branches></app-branches>
      <ul>
        <li *ngFor="let user of users">
          <p>ID: {{ user.id }}</p>
          <p>Name: {{ user.name }}</p>
          <p>Email: {{ user.email }}</p>
        </li>
      </ul>
      -->
      <ul>
        <li *ngFor="let branch of branches">
          <hr>
          <p>ID: {{ branch.id }}</p>
          <p>Branch Name: {{ branch.name }}</p>
          <p>Branch Email: {{ branch.email }}</p>
        </li>
      </ul>
    </div>
   </div>
   <div class="blocks five" gdArea="footer">
    <div class="notice">
      <a
        href="https://github.com/angular/angular/issues?q=is%3Aopen+is%3Aissue+label%3A%22comp%3A+service-worker%22"
        target="_blank"
        rel="noopener"
        >Cerrar Sesión
      </a>.
    </div>

   </div>
  </div>

  <br>
  
  <!-- <app-user-list></app-user-list> -->
  <!-- <h1>Progressive Web Apps made ridiculously easy with Angular</h1> -->
  <!-- 
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  -->



  <!--
  <div class="notice">
    PWA support for Angular is still new and may have some rough edges.
    <a
      href="https://github.com/angular/angular/issues?q=is%3Aopen+is%3Aissue+label%3A%22comp%3A+service-worker%22"
      target="_blank"
      rel="noopener"
      >View open issues</a
    >.
  </div>

  <nav
    mat-tab-nav-bar
    mat-stretch-tabs="false"
    mat-align-tabs="center"
    [tabPanel]="tabPanel"
  >
    <a
      mat-tab-link
      *ngFor="let link of appRoutes"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
      [routerLink]="link.path"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ link.label }}
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
localStorage.getItem("companies_id")
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>

  <app-share></app-share>
  -->
</content>

<!--
<footer>
  
  <content>
    <div>
      <a target="_blank" rel="noopener" href="https://github.com/abraham/pwa-ng"
        >Angular PWA</a
      >
      is made by
      <a target="_blank" rel="noopener" href="https://twitter.com/abraham"
        >@abraham</a
      >
      to show how easy it is to build a
      <a
        target="_blank"
        rel="noopener"
        href="https://developers.google.com/web/progressive-web-apps/"
        >PWA</a
      >
      with
      <a target="_blank" rel="noopener" href="https://angular.io/">Angular</a>.
    </div>
    <div>
      Have a more complex app you need help taking offline?
      <a target="_blank" rel="noopener" href="https://bendyworks.com/"
        >Bendyworks</a
      >
      can help.
    </div>
    <div>
      Built with
      <a target="_blank" rel="noopener" href="https://angular.io/">Angular</a>,
      <a
        target="_blank"
        rel="noopener"
        href="https://firebase.google.com/products/hosting/"
        >Firebase Hosting</a
      >,
      <a
        target="_blank"
        rel="noopener"
        href="https://material.io/components/web/"
        >Material Components</a
      >,
      <a
        target="_blank"
        rel="noopener"
        href="https://www.npmjs.com/package/node-package"
        >node-package</a
      >,
      <a
        target="_blank"
        rel="noopener"
        href="https://www.npmjs.com/package/img-2"
        >img-2</a
      >, and
      <a
        target="_blank"
        rel="noopener"
        href="https://github.com/lgarron/clipboard-polyfill"
        >clipboard-polyfill</a
      >.
    </div>
  </content>

</footer>
  -->
